:root {
    --color-one: white;
    --color-two: rgb(226,232,240);
    --color-three: rgb(48,146,213);
    --color-four: rgb(250,204,51);
}

body {
    margin : 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 200px 1fr;
}

* {
    box-sizing: border-box;
}

/* SIDEBAR */

.sidebar-global {
    height: 100vh;
    background-color: var(--color-three);
    position: sticky;
    top: 0;
    left: 0;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.sidebar {
    height: 70vh;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr repeat(10, 1fr);
}

.sidebar-img-div {
    justify-self: center;
}

.sidebar > div {
    padding: 7px;
    font-size: 1.1rem;
    color: white;
}

#menu-dashboard {
    font-size: 1.8rem;
}


/* HEADER */

.header {
    grid-column : 2 / 3;
    grid-row : 1 / 2;
    background-color: var(--color-one);
    position: sticky;
    top: 0;
    left: 300px;
    display: grid;
    grid-template-rows: 2fr 7fr;
}

.header div {
    padding: 7px;
}

.header-group1 {
    margin-left: 40px;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px 200px;
    align-items: center;
}

#magnify {
    grid-column: 1 / 2;
    justify-self: right;
}

#search-bar {
    border-radius: 20px;
    background-color: var(--color-two);
    width: 80%;
    height: 30px;
}

#emoji {
    height: 100%
}

#name-top-right {
    margin-left: 20px;
    font-weight: 800;
}

.header-group2 {
    margin-left: 40px;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 100px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

#emoji-big {
    width: 100%;
}

/* MAIN */

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(226,232,240);
}
